<div class="card">
  <div class="card-header">
        
    <h5 class="card-title">Sistema de contagem de <i>Folsomia candida</i></h5>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p>Os indicadores de qualidade do solo são características mensuráveis que acompanham e avaliam os impactos e alterações 
          que ocorrem em um dado ecossistema. Os microrganismos e os processos microbiológicos têm sido utilizados como indicadores
           sensíveis de qualidade do solo porque respondem rapidamente às mudanças no solo e são 
          responsáveis pela degradação da matéria orgânica e ciclagem de nutrientes.</p>
  <p>A norma ABNT NBR ISO 11267 (ABNT, 2011) específica um dos métodos para avaliar se o solo é habitável e determinar 
    os efeitos de contaminantes e substâncias do solo na reprodução de <i>Folsomia candida</i>. Com isso, o método para classificação dos
     solos se dá pela contagem desse microrganismo.</p>
  <p>No curso de Engenharia Ambiental da Faculdade de Tecnologia da UNICAMP são realizados estudos voltados para avaliar
     os impactos e alterações que ocorrem no solo. Parte desses estudos são realizados utilizando o <i>Folsomia candida</i> como bioindicador de 
     qualidade do solo. O processo de contagem da população de <i>Folsomia candida</i> em um determinado solo é realizado manualmente. É um processo 
     trabalhoso e demorado, que pode chegar a durar de 2 a 10 dias.</p>
     <p>Tendo em vista a utilização do <i>Folsomia candida</i> como um dos métodos padrão para avaliar os impactos e alterações no solo e a dificuldade
      encontrada pelos docentes e discentes do curso de Engenharia Ambiental da <a href="https://www.ft.unicamp.br/" target="_blank">
     Faculdade de Tecnologia</a> da <a href="https://www.unicamp.br/unicamp/" target="_blank">UNICAMP</a> para realizar o processo de contagem, 
      este sistema visa automatizar, agilizar e simplificar o processo de contagem da população de <i>Folsomia candida</i>. </p>
    </div>

     <div class="col-md-6">
      <img src="../../../assets/images/gallery-grid/folsomia.jpg">
    </div>

    </div>
  </div>

  <div class="card-footer bg">
    <div class="row text-center">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col"> 
      </div>
      <div class="col">
        <a href="https://www.linkedin.com/in/felipefsn-07" target="_blank"><img src="../../../assets/images/gallery-grid/linkedin.png"></a>
      </div>
      <div class="col">
        <a href="https://github.com/felipefsn-07" target="_blank"><img src="../../../assets/images/gallery-grid/github.png"></a>
      </div>
    </div>
  </div>
</div>