@import '~bs-stepper/dist/css/bs-stepper.min.css';

div {
    text-align: justify;
    text-justify: inter-word;
  }

  img {
    text-align: center;
    max-width:100%;
    height: auto;
}

.unicamp {
  max-width:100%;
  height: 50px;

}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}