@import '~bs-stepper/dist/css/bs-stepper.min.css';

.img-container {
width: 640;
height: 480;
float: left;

}

.img-preview {
    width: 640;
    height: 480;
    float: left;
    }
    
.nav-pills {
  margin-bottom: 1rem;
}

