.img-container {
width: 640;
height: 480;
float: left;

}

.img-preview {
    width: 640;
    height: 480;
    float: left;
    }
    
.nav-pills {
  margin-bottom: 1rem;
}

.ngx-photo-editor-ngx-photo-editor-img-container {
  width: 100%;
  height: 100%;
}

#ngx-photo-editor-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom:auto;
  max-height: 300px;
  max-width: 100%;
}
