  <div class="col-xl-12">

    <div class="card" id="basic" *ngIf="ini">

      <div class="card-header">
        
        <h5 class="card-title">Informação básicas </h5>
        <div class="card-header-right">
        </div>

      </div> 

      
      <form action="javascript:" class="was-validated" [formGroup]="iniForm">

      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
              <div class="form-group row">
                <label for="input" class="col-sm-3 col-form-label">Titulo do teste</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="tituloTeste" placeholder="Titulo do teste" required>
                  <div class="invalid-feedback">Titulo é obrigatório.</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Substância</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="substancia" placeholder="Substância" required>
                  <div class="invalid-feedback">Substância é obrigatório.</div>

                </div>
              </div>

              <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Descrição</label>
                <div class="col-sm-9">
                  <textarea class="form-control" formControlName="description" rows="3" placeholder="Descrição"></textarea>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="card-footer bg-dark">
        <div class="col text-right">

        <button type="button" class="btn btn-info" (click)="startTest()">Iniciar o teste</button>
        </div>
      </div>
    </form>
    </div>

    <div class="card" id ="test" *ngIf="!ini">
      <div class="card-header">

        <div class="row">
          <div class="col">
          <h5><label id="titulo" >{{ iniForm.value.tituloTeste }}</label></h5>
          </div>
          <div class="col text-right">
            <button type="button" class="btn btn-icon btn-rounded btn-outline-secondary" (click)="addFolsomiaTest.show()"><i class="feather icon-plus"></i></button>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="card-columns">
          <app-card  cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-info text-white">
            

              <div [style.backgroundColor]="'#36393F'" style="padding-bottom: 0">
                <div [style.height]="170+'px'" class="ngx-photo-editor-img-container">
                  <img #image  [src]="folsomia.fileResult.fileAsBase64" crossorigin id="ngx-photo-editor-image">
                </div>
              </div>
            
            <div class="app-card-footer">
              <div class="row text-center">
                <div class="col">
                  <h6 class="m-0 text-white">{{folsomia.concetration}}</h6>
                  <span>Concentração</span>
                </div>
                <div class="col">
                  <h6 class="m-0 text-white">{{folsomia.totalCountFolsomia}}</h6>
                  <span>Total</span>
                </div>
              </div>
            </div>
          </app-card> 
        </div>
      </div>
      <div class="card-footer bg-dark">
        <div class="row text-center">

          <div class="col">
            <h4 class="m-0 text-white">{{ iniForm.value.substancia }}</h4>
          </div>
          <div class="col">
            <h6 class="m-0 text-white">0</h6>
            <span  class="m-0 text-white">Média</span>
          </div>
        </div>
      </div>
    </div>

  
</div>


<app-ui-modal #addFolsomiaTest [dialogClass]="'modal-lg'" >

  <div class="app-modal-header">
    <h5 class="modal-title">Nova Concentração </h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="addFolsomiaTest.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  
  <div class="app-modal-body">

        <image-editor
        imageFormat=""
        [aspectRatio]="1"
        (folsomiaResultFinal)="folsomiaResult($event)"
        [viewMode]="1"
        [resizeToWidth]="700"
        ></image-editor>
      </div>


  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addFolsomiaTest.hide()">Cancelar</button>

    <button type="button" class="btn btn-info" (click)="saveCountFolsomia()">Finalizar</button>
  </div>  
</app-ui-modal>

